@import url(../base.css);

main{
    flex: 1;
}

/* Filters Sidebar  */

.filter-btn{
    display: none;
}

.filters{
    max-width: 18rem;
    padding-bottom: 0;
    position: sticky;
    top: 0;
}

.filters .tr-drawer-content{
    margin-top: 0;
    padding: var(--space-xs);
}

.filters label{
    color: var(--tr-text-secondary);
}

.pagination{
    margin-left: auto;
}

/* Products section  */
.products-container{
    justify-items: center;
}

.products-container .tr-card-banner{
    max-height: 15rem;
}

@media screen and (max-width:48em) {

    .filter-btn{
        display: block;
    }

    .filters{
        position: fixed;
        left: -100%;
        height: 100vh;
        transition: all ease 0.3s;
        z-index: 999;
    }

    .filters-wrapper.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: var(--tr-gray-overlay);
    }
    .filters.active{
        left: 0;
    }

    .pagination >*{
        font-size: var(--fs-xs);
    }
}