
html{
    scroll-behavior: smooth;
    --bs-lighter:2px 2px 10px 2px rgb(0 0 0 / 20%);
}

header, main, footer{
    padding: 0 var(--space-xlg); /* Fallback value */
    padding: var(--space-sm) clamp(var(--space-sm), -0.875rem + 8.33vw, var(--space-xxlg))
}

body{
    background: var(--tr-background);
    overflow: hidden scroll;
}

section{
    padding: var(--space-xlg) 0;
}

h2{
    color: var(--tr-primary-color);
}

h3, h4, h5, h6{
    color: var(--tr-text);
}

/* Layouts  */
header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    min-height: 30vh;
}

#productCardsContainer{
    justify-items: center;
}

/* Utilitties  */

.stretch-x{
    width: 100%;
}

.gap-xs{
    gap: var(--space-xs);
}

.txt-accent{
    color: var(--tr-accent-color);
}

/* Header */

.tr-header{
    border-radius: 0;
    padding: var(--space-sm) var(--space-xlg) var(--space-sm) var(--space-lg);
}

.badge{
    border-color: var(--tr-primary-color) ;
}

.header-brand{
    flex-basis: 300px;
}

.tr-header .tr-input-wrapper{
    margin-left: auto;
    width: clamp(15rem, 30vw, 30rem);
}

.logo{
    width: clamp(12rem, 20vw, 17rem);
}

.tr-header .tr-btn-icon i.fas{
    font-weight: 500 ;
}

.header-menu{
    flex: 1;
}

.page-menu-wrapper{
    position: relative;
}

.page-menu{
    position: absolute;
    top: 50px;
    left: -10px;
    align-items: center;
    z-index: 99;
    background-color: var(--tr-accent-color);
    background-color: var(--tr-background);
    box-shadow: var(--bs-lighter);
    border-radius: var(--space-xs);
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
    width: 10rem;
}

.page-menu.active{
    padding: var(--space-lg) var(--space-xs);
    height: 12.5rem;
}

.page-menu a{
    color: var(--tr-primary-color);
    background-color: transparent;
    font-weight: 500;
}

.page-menu a:hover,
.page-menu a:focus{
    color: var(--tr-accent-color);
}

.hamburger{
    display: none;
}

/* Icons  */

.tr-btn-icon i.fas{
    font-weight: 500 ;
}

i.fas.icon-filled{
    font-weight: 900;
}

/* Cards  */
.tr-card{
    background-color: var(--tr-background);
    box-shadow: var(--bs-lighter);
    border: none;
    align-self: start;
}

.tr-card .heart-icon{
    position: absolute;
    top: var(--space-xs);
    right: var(--space-xs);
}
.tr-card .tr-ratings-badge{
    align-self: start;
    min-width: 50px;
}


.tr-card-hor .tr-card-footer-links{
    margin-top: auto;
}

.tr-card-hor .tr-card-footer-links .tr-btn{
    width: 100%;
}

.pdt-card{
    border: none;
    transition: all 0.3s ease-in-out;
    align-self: stretch;
    justify-content: space-around;
}

.pdt-card .title{
    color: var(--tr-text);
}

.pdt-card .title:hover{
    color: var(--tr-primary-color);
}

.pdt-card .tr-card-banner img{
    object-fit: contain;
}

.pdt-card:hover{
    transform: scale(1.05);
    box-shadow: var(--bs-light);
}

/* login/signup section  */

.auth-form-container{
    margin:auto;
    width: 90%;
    max-width: 50rem;
}

.form-body,
.form-toggle-btn
{
    flex: 1;
}

.auth-form{
    display: none;
}

.auth-form.active{
    display: flex;
}

.form-toggle-buttons .tr-btn{
    flex: 1;
}

.form-toggle-buttons .tr-btn:nth-child(1){
    border-radius: var(--space-xs) 0 0 var(--space-xs);
}

.form-toggle-buttons .tr-btn:nth-child(2){
    border-radius: 0 var(--space-xs) var(--space-xs) 0;
}


/* Carts  */
.cart-summary{
    position: sticky;
    top: 0;
    max-width: 20rem;
}

@media screen and (max-width: 600px) {
    .hamburger{
        display: block;
    }

    .header-menu{
        /* display: none; */
        width: 100%;
        flex-direction: column;
        order: 1;
        gap: var(--space-sm);
    }

    .header-menu .tr-input-wrapper{
        width: 100%;
    }

    .header-menu .tr-nav {
        width: 100%;
        justify-content: center;
    }
}