@import url(./base.css);

main{
    padding: 0;
}

section{
    padding: var(--padding-fluid-lg);
}

.hero{
    position: relative;
    height: 80vh;
    background-image: url(../assets/hero-banner-2.webp);
    background-size: cover;
    background-attachment: fixed;
}

.hero::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--tr-gray-overlay);
    background-image: var(--bg-gradient-overlay);
}

.hero >*{
    position: relative;
    z-index: 1;
}

.hero-heading{
    font-size: clamp(2rem, 10vw - 1rem, 3rem);
    color: var(--tr-background);
    max-width: 30ch;
}

.cta .tr-btn{
    font-size: 1.2rem;

}

.categories .text-overlay{
    background-color: var(--tr-accent-overlay);
    background-image: var(--bg-gradient-overlay);
    backdrop-filter: blur(1px);
}

.categories .text-overlay:hover{
    backdrop-filter: blur(0px);
}

.categories .text-overlay h2{
    background-color: transparent;
    color: var(--tr-white);
    font-size: var(--fs-lg);
}

.categories .tr-card{
    padding: 0;
    overflow: hidden;
    align-self: stretch;
}

.category-cards-container{
    justify-items: center;
}

.categories .tr-card img{
    transition: all ease 0.3s;
}

.categories .tr-card:hover img{
    transform: scale(1.2);
    transition: all ease 0.3s;
    object-fit: cover;
}